

.custom-text-field label {
  display: block;
  margin-bottom: 0.25rem;
  font-size: var(--text-md);
    color: var(--color-primary);
    align-items: center;
;
}

.custom-text-field input {
 width: 60%;
 width: 100%;
  padding: 8px 12px;
  font-size: var(--text-md);
  border: 2px solid var(--color-on-primary);
  border-radius: 50px;
  margin-bottom: 1rem;
  background-color: transparent;
}


.custom-text-field input:focus {
  outline: none;
  border-color:var(--color-primary);
}

.custom-text-field .error-message {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}
.hidden-file-input {
  display: none;
}

.custom-file-label {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background-color: var(--color-on-primary);
  border-radius: 50px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.custom-file-label:hover {
  background-color: #e490c5;
}

.input-wrapper {
  position: relative;
  width: 100%;
}

.input-wrapper input {
  width: 100%;
  padding: 8px 12px;
  font-size: var(--text-md);
  border: 2px solid var(--color-on-primary);
  border-radius: 50px;
  background-color: transparent;
  padding-right: 2.5rem; /* espace pour l’icône à droite */
}

.input-wrapper input:focus {
  outline: none;
  border-color: var(--color-primary);
}

.input-suffix {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: var(--color-on-primary);
  font-size: 1.2rem;
}


