@font-face {
  font-family: 'Autography';
  src: url('../assets/fonts/Autography.otf') format('opentype');
}

@font-face {
  font-family: 'Amable';
  src: url('../assets/fonts/Amable.ttf') format('truetype');
}



:root {
  --color-primary: #B7B1F2;
  --color-on-primary: #FDB7EA;
  --color-secondary: #FFDCCC;
  --color-on-secondary: #FBF3B9;
  --color-surface: #000000;
  --color-on-surface: #FBF3B9;
  --background-color: #FAF6F1;

  --font-title: 'Autography';
  --font-text: 'Amable';

  --text-xs: clamp(0.65rem, 1.5vw, 0.75rem);
--text-sm: clamp(0.75rem, 1.8vw, 0.875rem);
--text-md: clamp(1rem, 2.2vw, 1.1rem);
--text-lg: clamp(1.1rem, 2.8vw, 1.25rem);
--text-xl: clamp(2.2rem, 6vw, 3.5rem);

}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
   display: flex;
  flex-direction: column;
}


.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}


h1,
h2 {
  text-align: center;
    font-size: var(--text-xl);
    font-weight: 100;
    color: var( --color-primary);
    font-family: var(--font-title);
    text-align: center;
    margin: 0,65,0,0;
    padding: 0;
}

p {
  font-family: var(--font-text);
  font-size: var(--text-md);
  color: var(--color-surface);
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-text)
}
.center-screen {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/*body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 90vw;
  height: 90vh;
  background-image: url("/images/logo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  opacity: 0.05;
  z-index: -1;
  pointer-events: none;
}*/



