.contactPage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


.form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 2rem auto;
  gap: 1rem;
  background: #fffafc;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.card {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
  margin: 3rem 3rem 2rem 3rem;
  padding: 0; /* Supprime les marges internes du composant Card */
  margin-right: 3rem;
 
}

.cardBody {
  padding: 1.5rem;
  background-color: transparent;
  border-radius: 12px;
  border: 1px solid var(--color-on-primary);
  margin: 0; /* évite de redoubler les marges */
}

.title {
  text-align: center;
  margin-bottom: 1rem;
  margin: 0 auto;
}

.iconRow {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 1rem;
}

.img {
  width: 4rem;
  height: 4rem;
  transition: transform 0.3s ease;
}

.img:hover {
  transform: scale(1.1);
}



.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  width: 100%;
  padding: 0 1rem; 
}

.buttonContainer button {
  max-width:300px;
  width: 100%;
 
}

.success {
  color: green;
}

.error {
  color: red;
}
